{% extends 'default.html.twig' %}

{% block content %}
    <main>
        <section id="content">
            <h1>Your shortened URL</h1>
            <p>Copy the shortened link and share it in messages, texts, posts, websites and other locations.</p>
        </section>
        <section id="urlbox">
            <br><br>
            <div id="formurl" class="copy-input">
                <input id="shortenurl" type="text"
                       value="{{ base_url(link.hash) | replace({'http://': '', 'https://': ''}) }}">
                <div id="formbutton">
                    <input type="button" class="copy" value="Copy URL"
                           onclick="copyToClipboard('#shortenurl','#balloon')">
                </div>
            </div>
            <div id="formurl" style="max-width: 400px; display: block;">
                <div id="balloon" style="display: none;">URL Copied</div>
            </div>
            <p class="boxtextleft">Long URL: <a href="{{ link.url }}" target="_blank">{{ link.url }}</a><br><br>

                Track <a href="{{ base_url('clicks') }}?url={{ base_url(link.hash) }}">the total of clicks</a> in real-time from your
                shortened URL.<br>
                Create other <a href="{{ base_url() }}">{{ app_name() }}</a>.
            </p>
        </section>
        <section id="content">
            <h2>Share URL</h2>
            <div class="socialnetworkbox">
                <p>
                    <a class="snb snbfacebook" href="#"
                       onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ base_url(link.hash) }}', 'facebook', 'width=800, height=600, resizable, scrollbars=yes, status=1'); return false;">Facebook</a>
                    <a class="snb snbtwitter" href="#"
                       onclick="window.open('https://twitter.com/share?url={{ base_url(link.hash) }}', 'twitter', 'width=800, height=600, resizable, scrollbars=yes, status=1'); return false;">Twitter</a>
                    <a class="snb snbpinterest" href="#"
                       onclick="window.open('https://pinterest.com/pin/create/link/?url={{ base_url(link.hash) }}', 'pinterest', 'width=800, height=600, resizable, scrollbars=yes, status=1'); return false;">Pinterest</a>
                    <a class="snb snbtumblr" href="#"
                       onclick="window.open('https://www.tumblr.com/share/link?url={{ base_url(link.hash) }}', 'tumblr', 'width=800, height=600, resizable, scrollbars=yes, status=1'); return false;">Tumblr</a>
                </p>
            </div>
        </section>
    </main>
{% endblock %}
{% block scripts %}
    <script src="{{ base_url('assets/js/copy.js') }}"></script>
{% endblock %}


